<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<title>Мониторинг световой индикации</title>
		<link rel="stylesheet" href="{% static 'css/smart.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon" />
	</head>
	<body>
		<div class="flex-container">
			<div class="block">
					<p>
						СТАНОК №1
					</p>
				<div class="image">
					<p>
						<img src="{% static 'img/NC.png' %}" height="200" alt="Красный, жёлтый">
					</p>
				</div>
				<div class="text">
					<table class="table">
						<tr class="tr">
							<td>
								Статус
							</td>
							<td>
								Нет соединения
							</td>
						</tr>
						<tr class="tr">
							<td>
								Время работы
							</td>
							<td>
								-
							</td>
						</tr>
						<tr class="tr">
							<td>
								Время простоя
							</td>
							<td>
								-
							</td>
						</tr>
						<tr class="tr">
							<td>
								Диапазон
							</td>
							<td>
								-
							</td>
						</tr>
						<tr class="tr">
							<td>
								Событий
							</td>
							<td>
								-
							</td>
						</tr>
					</table>
					Эффективность
					<div class="graph">
						<svg version="1.1" id="layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 170 170" style="enable-background:new 0 0 170 170;" xml:space="preserve">
							<path class="st0" d="M84.4,44.6c0-0.2,0-0.3,0-0.4c0-0.2,0-0.4,0-0.6"/>
							<text x="39" y="50" font-size="16px" fill="#fff" >-</text>
						</svg>
					</div>
				</div>
			</div>
			<div class="block">
					<p>
						СТАНОК №2
					</p>
				<div class="image">
					<p>
						<img src="{% static 'img/RY.gif' %}" height="200" alt="Красный, жёлтый">
					</p>
				</div>
				<div class="text">
					<table class="table">
						<tr class="tr">
							<td>
								Статус
							</td>
							<td>
								Остановлен
							</td>
						</tr>
						<tr class="tr">
							<td>
								Время работы
							</td>
							<td>
								701 ч.
							</td>
						</tr>
						<tr class="tr">
							<td>
								Время простоя
							</td>
							<td>
								19 ч.
							</td>
						</tr>
						<tr class="tr">
							<td>
								Диапазон
							</td>
							<td>
								1 мес.
							</td>
						</tr>
						<tr class="tr">
							<td>
								Событий
							</td>
							<td>
								15
							</td>
						</tr>
					</table>
					Эффективность
					<div class="graph">
						<svg version="1.1" id="layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 170 170" style="enable-background:new 0 0 170 170;" xml:space="preserve">
							<path class="st0" d="M84.32,44.16c0,22.18-17.98,40.16-40.16,40.16S4,66.34,4,44.16S21.98,4,44.16,4S84.32,21.98,84.32,44.16"/>
							<text x="29" y="50" font-size="16px" fill="#fff" >97%</text>
						</svg>
					</div>
				</div>
			</div>
			<div class="block">
					<p>
						СТАНОК №3
					</p>
				<div class="image">
					<p>
						<img src="{% static 'img/IDL.png' %}" height="200" alt="Красный, жёлтый">
					</p>
				</div>
				<div class="text">
					<table class="table">
						<tr class="tr">
							<td>
								Статус
							</td>
							<td>
								В работе
							</td>
						</tr>
						<tr class="tr">
							<td>
								Время работы
							</td>
							<td>
								680 ч.
							</td>
						</tr>
						<tr class="tr">
							<td>
								Время простоя
							</td>
							<td>
								40 ч.
							</td>
						</tr>
						<tr class="tr">
							<td>
								Диапазон
							</td>
							<td>
								1 мес.
							</td>
						</tr>
						<tr class="tr">
							<td>
								Событий
							</td>
							<td>
								21
							</td>
						</tr>
					</table>
					Эффективность
					<div class="graph">
						<svg version="1.1" id="layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 170 170" style="enable-background:new 0 0 170 170;" xml:space="preserve">
							<path class="st0" d="M81.3,28.8C72.8,8.3,49.3-1.4,28.8,7.1S-1.4,39,7.1,59.5s32,30.2,52.5,21.7C75,74.9,84.3,59.9,84.3,44.2"/>
							<text x="29" y="50" font-size="16px" fill="#fff" >94%</text>
						</svg>
					</div>
				</div>
			</div>
			<div class="block">
					<p>
						СТАНОК №4
					</p>
				<div class="image">
					<p>
						<img src="{% static 'img/RY.gif' %}" height="200" alt="Красный, жёлтый">
					</p>
				</div>
				<div class="text">
					<table class="table">
						<tr class="tr">
							<td>
								Статус
							</td>
							<td>
								Остановлен
							</td>
						</tr>
						<tr class="tr">
							<td>
								Время работы
							</td>
							<td>
								689 ч.
							</td>
						</tr>
						<tr class="tr">
							<td>
								Время простоя
							</td>
							<td>
								31 ч.
							</td>
						</tr>
						<tr class="tr">
							<td>
								Диапазон
							</td>
							<td>
								1 мес.
							</td>
						</tr>
						<tr class="tr">
							<td>
								Событий
							</td>
							<td>
								56
							</td>
						</tr>
					</table>
					Эффективность
					<div class="graph">
						<svg version="1.1" id="layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 170 170" style="enable-background:new 0 0 170 170;" xml:space="preserve">
							<path class="st0" d="M81.3,28.8C72.8,8.3,49.3-1.4,28.8,7.1S-1.4,39,7.1,59.5s32,30.2,52.5,21.7C75,74.9,84.3,59.9,84.3,44.2"/>
							<text x="29" y="50" font-size="16px" fill="#fff" >96%</text>
						</svg>
					</div>
				</div>
			</div>
			<div class="block">
					<p>
						СТАНОК №5
					</p>
				<div class="image">
					<p>
						<img src="{% static 'img/NC.png' %}" height="200" alt="Красный, жёлтый">
					</p>
				</div>
				<div class="text">
					<table class="table">
						<tr class="tr">
							<td>
								Статус
							</td>
							<td>
								Нет соединения
							</td>
						</tr>
						<tr class="tr">
							<td>
								Время работы
							</td>
							<td>
								-
							</td>
						</tr>
						<tr class="tr">
							<td>
								Время простоя
							</td>
							<td>
								-
							</td>
						</tr>
						<tr class="tr">
							<td>
								Диапазон
							</td>
							<td>
								-
							</td>
						</tr>
						<tr class="tr">
							<td>
								Событий
							</td>
							<td>
								-
							</td>
						</tr>
					</table>
					Эффективность
					<div class="graph">
						<svg version="1.1" id="layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 170 170" style="enable-background:new 0 0 170 170;" xml:space="preserve">
							<path class="st0" d="M84.4,44.6c0-0.2,0-0.3,0-0.4c0-0.2,0-0.4,0-0.6"/>
							<text x="39" y="50" font-size="16px" fill="#fff" >-</text>
						</svg>
					</div>
				</div>
			</div>
			<div class="block">
					<p>
						СТАНОК №6
					</p>
				<div class="image">
					<p>
						<img src="{% static 'img/YG.gif' %}" height="200" alt="Красный, жёлтый">
					</p>
				</div>
				<div class="text">
					<table class="table">
						<tr class="tr">
							<td>
								Статус
							</td>
							<td>
								Обслуживание
							</td>
						</tr>
						<tr class="tr">
							<td>
								Время работы
							</td>
							<td>
								543 ч.
							</td>
						</tr>
						<tr class="tr">
							<td>
								Время простоя
							</td>
							<td>
								177 ч.
							</td>
						</tr>
						<tr class="tr">
							<td>
								Диапазон
							</td>
							<td>
								1 мес.
							</td>
						</tr>
						<tr class="tr">
							<td>
								Событий
							</td>
							<td>
								241
							</td>
						</tr>
					</table>
					Эффективность
					<div class="graph">
						<svg version="1.1" id="layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 170 170" style="enable-background:new 0 0 170 170;" xml:space="preserve">
							<path class="st0" d="M44.2,4C22,4,4,22,4,44.2s18,40.2,40.2,40.2s40.2-18,40.2-40.2"/>
							<text x="29" y="50" font-size="16px" fill="#fff" >75%</text>
						</svg>
					</div>
				</div>
			</div>
			<div class="block">
					<p>
						СТАНОК №7
					</p>
				<div class="image">
					<p>
						<img src="{% static 'img/IDL.png' %}" height="200" alt="Красный, жёлтый">
					</p>
				</div>
				<div class="text">
					<table class="table">
						<tr class="tr">
							<td>
								Статус
							</td>
							<td>
								В работе
							</td>
						</tr>
						<tr class="tr">
							<td>
								Время работы
							</td>
							<td>
								714 ч.
							</td>
						</tr>
						<tr class="tr">
							<td>
								Время простоя
							</td>
							<td>
								6 ч.
							</td>
						</tr>
						<tr class="tr">
							<td>
								Диапазон
							</td>
							<td>
								1 мес.
							</td>
						</tr>
						<tr class="tr">
							<td>
								Событий
							</td>
							<td>
								8
							</td>
						</tr>
					</table>
					Эффективность
					<div class="graph">
						<svg version="1.1" id="layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 170 170" style="enable-background:new 0 0 170 170;" xml:space="preserve">
							<path class="st0" d="M84.32,44.16c0,22.18-17.98,40.16-40.16,40.16S4,66.34,4,44.16S21.98,4,44.16,4S84.32,21.98,84.32,44.16"/>
							<text x="29" y="50" font-size="16px" fill="#fff" >99%</text>
						</svg>
					</div>
				</div>
			</div>
			<div class="block">
					<p>
						СТАНОК №8
					</p>
				<div class="image">
					<p>
						<img src="{% static 'img/IDL.png' %}" height="200" alt="Красный, жёлтый">
					</p>
				</div>
				<div class="text">
					<table class="table">
						<tr class="tr">
							<td>
								Статус
							</td>
							<td>
								В работе
							</td>
						</tr>
						<tr class="tr">
							<td>
								Время работы
							</td>
							<td>
								705 ч.
							</td>
						</tr>
						<tr class="tr">
							<td>
								Время простоя
							</td>
							<td>
								15 ч.
							</td>
						</tr>
						<tr class="tr">
							<td>
								Диапазон
							</td>
							<td>
								1 мес.
							</td>
						</tr>
						<tr class="tr">
							<td>
								Событий
							</td>
							<td>
								14
							</td>
						</tr>
					</table>
					Эффективность
					<div class="graph">
						<svg version="1.1" id="layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 170 170" style="enable-background:new 0 0 170 170;" xml:space="preserve">
							<path class="st0" d="M84.32,44.16c0,22.18-17.98,40.16-40.16,40.16S4,66.34,4,44.16S21.98,4,44.16,4S84.32,21.98,84.32,44.16"/>
							<text x="29" y="50" font-size="16px" fill="#fff" >98%</text>
						</svg>
					</div>
				</div>
			</div>
			<div class="block">
					<p>
						СТАНОК №9
					</p>
				<div class="image">
					<p>
						<img src="{% static 'img/NC.png' %}" height="200" alt="Красный, жёлтый">
					</p>
				</div>
				<div class="text">
					<table class="table">
						<tr class="tr">
							<td>
								Статус
							</td>
							<td>
								Нет соединения
							</td>
						</tr>
						<tr class="tr">
							<td>
								Время работы
							</td>
							<td>
								-
							</td>
						</tr>
						<tr class="tr">
							<td>
								Время простоя
							</td>
							<td>
								-
							</td>
						</tr>
						<tr class="tr">
							<td>
								Диапазон
							</td>
							<td>
								-
							</td>
						</tr>
						<tr class="tr">
							<td>
								Событий
							</td>
							<td>
								-
							</td>
						</tr>
					</table>
					Эффективность
					<div class="graph">
						<svg version="1.1" id="layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 170 170" style="enable-background:new 0 0 170 170;" xml:space="preserve">
							<path class="st0" d="M84.4,44.6c0-0.2,0-0.3,0-0.4c0-0.2,0-0.4,0-0.6"/>
							<text x="39" y="50" font-size="16px" fill="#fff" >-</text>
						</svg>
					</div>
				</div>
			</div>
			<div class="block">
					<p>
						СТАНОК №10
					</p>
				<div class="image">
					<p>
						<img src="{% static 'img/NC.png' %}" height="200" alt="Красный, жёлтый">
					</p>
				</div>
				<div class="text">
					<table class="table">
						<tr class="tr">
							<td>
								Статус
							</td>
							<td>
								Нет соединения
							</td>
						</tr>
						<tr class="tr">
							<td>
								Время работы
							</td>
							<td>
								-
							</td>
						</tr>
						<tr class="tr">
							<td>
								Время простоя
							</td>
							<td>
								-
							</td>
						</tr>
						<tr class="tr">
							<td>
								Диапазон
							</td>
							<td>
								-
							</td>
						</tr>
						<tr class="tr">
							<td>
								Событий
							</td>
							<td>
								-
							</td>
						</tr>
					</table>
					Эффективность
					<div class="graph">
						<svg version="1.1" id="layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 170 170" style="enable-background:new 0 0 170 170;" xml:space="preserve">
							<path class="st0" d="M84.4,44.6c0-0.2,0-0.3,0-0.4c0-0.2,0-0.4,0-0.6"/>
							<text x="39" y="50" font-size="16px" fill="#fff" >-</text>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
