<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<title>Мониторинг световой индикации</title>
		<link rel="stylesheet" href="{% static 'css/smart.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon" />
	</head>
	<body>
		<div class="flex-container">
			{% for machine in machines %}
                <div class="block">
                        <p>
                            СТАНОК №{{ machine.id }}
                        </p>
                    <div class="image">
                        <p>
                            <img src="{% static 'img/NC.png' %}" height="200" alt="Красный, жёлтый">
                        </p>
                    </div>
                    <div class="text">
                        <table class="table">
                            <tr class="tr">
                                <td>
                                    Статус
                                </td>
                                <td>
                                    Нет соединения
                                </td>
                            </tr>
                            <tr class="tr">
                                <td>
                                    Время работы
                                </td>
                                <td>
                                    -
                                </td>
                            </tr>
                            <tr class="tr">
                                <td>
                                    Время простоя
                                </td>
                                <td>
                                    -
                                </td>
                            </tr>
                            <tr class="tr">
                                <td>
                                    Диапазон
                                </td>
                                <td>
                                    -
                                </td>
                            </tr>
                            <tr class="tr">
                                <td>
                                    Событий
                                </td>
                                <td>
                                    -
                                </td>
                            </tr>
                        </table>
                        Эффективность
                        <div class="graph">
                            <svg version="1.1" id="layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 170 170" style="enable-background:new 0 0 170 170;" xml:space="preserve">
                                <path class="st0" d="M84.4,44.6c0-0.2,0-0.3,0-0.4c0-0.2,0-0.4,0-0.6"/>
                                <text x="39" y="50" font-size="16px" fill="#fff" >-</text>
                            </svg>
                        </div>
                    </div>
                </div>
            {% endfor %}
		</div>
	</body>
</html>
