<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<title>Контактные Номера Лифтового Завода</title>
		<link rel="stylesheet" href="{% static 'css/phone_number_style.css' %}" />
		<link rel="shortcut icon" href="{% static 'img/p.png' %}" type="image/x-icon" />
	</head>
	<body>
		<div class="parent-table">
			<div class="parent-child">
				<table class="table">
					<tr class="row">
						<td class="cell1"><div class="name">Проходная SAG Lift</div>
							<div class="position"></div>
						</td>
						<td class="cell2">201</td>
						<td class="cell3"></td>
					</tr>
					<tr class="rowbl">
						<td class="cell1"><div class="name">Проходная Баклажка</div>
							<div class="position"></div>
						</td>
						<td class="cell2">206</td>
						<td class="cell3"></td>
					</tr>
					<tr class="row">
						<td class="cell1"><div class="name">Столовая Tuft & Grass</div>
							<div class="position"></div>
						</td>
						<td class="cell2">212</td>
						<td class="cell3"></td>
					</tr>
					<tr class="rowbl">
						<td class="cell1"><div class="name">Столовая SET</div>
							<div class="position"></div>
						</td>
						<td class="cell2">242</td>
						<td class="cell3"></td>
					</tr>
					<tr class="row">
						<td class="cell1"><div class="name">Отдел видеонаблюдения</div>
							<div class="position"></div>
						</td>
						<td class="cell2">250</td>
						<td class="cell3"></td>
					</tr>
					<tr class="rowbl">
						<td class="cell1"><div class="name">Курбанов Диёр Зафарович</div>
							<div class="position">Начальник IT отдела</div>
						</td>
						<td class="cell2">220</td>
						<td class="cell3">+998(90)502-62-96</td>
					</tr>
					<tr class="row">
						<td class="cell1"><div class="name">Агапкин Дмитрий Николаевич</div>
							<div class="position">Инженер-программист</div>
						</td>
						<td class="cell2">221</td>
						<td class="cell3">+998(94)089-28-77</td>
					</tr>
					<tr class="rowbl">
						<td class="cell1"><div class="name">Насруллаев Джахонгир Мансурович</div>
							<div class="position">Директор Tuft & Grass</div>
						</td>
						<td class="cell2">234</td>
						<td class="cell3">+998(90)601-12-34</td>
					</tr>
					<tr class="row">
						<td class="cell1"><div class="name">Ибрагимов Тохир Алишерович</div>
							<div class="position">Начальник AXO</div>
						</td>
						<td class="cell2">218</td>
						<td class="cell3">+998(99)522-23-33</td>
					</tr>
					<tr class="rowbl">
						<td class="cell1"><div class="name">Салиев Умид Туйчибаевич</div>
							<div class="position">Главный бухгалтер Tuft & Grass</div>
						</td>
						<td class="cell2">205</td>
						<td class="cell3">+998(90)602-10-00</td>
					</tr>
					<tr class="row">
						<td class="cell1"><div class="name">Ульмасова Камола Санъатовна</div>
							<div class="position">Начальник отдела по работе с персоналом Tuft & Grass</div>
						</td>
						<td class="cell2">215</td>
						<td class="cell3">+998(91)071-11-17</td> 
					</tr>
					<tr class="rowbl">
						<td class="cell1"><div class="name">Ибрагимов Собир Суванович</div>
							<div class="position">Менеджер отдела закупок Tuft & Grass</div>
						</td>
						<td class="cell2">209</td>
						<td class="cell3">+998(99)567-10-39</td>
					</tr>
					<tr class="row">
						<td class="cell1"><div class="name">Садуллаев Камариддин Нуриддин Угли</div>
							<div class="position">Менеджер по продожам Tuft & Grass</div>
						</td>
						<td class="cell2">214</td>
						<td class="cell3">+998(90)600-00-01</td>
					</tr>
					<tr class="rowbl">
						<td class="cell1"><div class="name">Шахриёров Шахруз Бахтиёрович</div> 
							<div class="position">Главный дизайнер Tuft & Grass</div>
						</td>
						<td class="cell2">216</td>
						<td class="cell3">+998(91)540-55-05</td>
					</tr>
					<tr class="row">
						<td class="cell1"><div class="name">Рахмонов Лазиз Абдимуратович</div>
							<div class="position">Менеджер по продожам Tuft & Grass</div>
						</td>
						<td class="cell2">217</td>
						<td class="cell3">+998(90)600-00-00</td>
					</tr>
					<tr class="rowbl">
						<td class="cell1"><div class="name">Кудратов Алишер Туракул Угли</div>
							<div class="position">Завсклад Tuft & Grass</div>
						</td>
						<td class="cell2">223</td>
						<td class="cell3">+998(97)395-84-95</td>
					</tr>
					<tr class="row">
						<td class="cell1"><div class="name">Ходжаев Азим Эргашевич</div>
							<div class="position">Начальник цеха  Tuft & Grass</div>
						</td>
						<td class="cell2">200</td>
						<td class="cell3">+998(93)335-60-64</td>
					</tr>
					<tr class="rowbl">
						<td class="cell1"><div class="name">Газон Цех</div>
							<div class="position"></div>
						</td>
						<td class="cell2">204</td>
						<td class="cell3"></td>
					</tr>
					<tr class="row">
						<td class="cell1"><div class="name">Вельвет Цех</div>
							<div class="position"></div>
						</td>
						<td class="cell2">238</td>
						<td class="cell3"></td>
					</tr>
					<tr class="rowbl">
						<td class="cell1"><div class="name">Хайдаров Зайнобидин Сайфиевич</div>
							<div class="position">Начальник пожарной безопасности</div>
						</td>
						<td class="cell2">236</td>
						<td class="cell3">+998(93)992-07-79</td>
					</tr>
					<tr class="row">
						<td class="cell1"><div class="name">Истамов Фируз Саидкулович</div>
							<div class="position">Завсклад ГП  Tuft & Grass</div>
						</td>
						<td class="cell2">225</td>
						<td class="cell3">+998(91)531-86-59</td>
					</tr>
					<tr class="rowbl">
						<td class="cell1"><div class="name">Сатторов Шохназар Асламович</div>
							<div class="position">Начальник цеха нити</div>
						</td>
						<td class="cell2">208</td>
						<td class="cell3">+998(91)545-03-90</td>
					</tr>
					<tr class="row">
						<td class="cell1"><div class="name">Лаборатория Ниточного Цеха</div>
							<div class="position"></div>
						</td>
						<td class="cell2">203</td>
						<td class="cell3"></td>
					</tr>
					<tr class="rowbl">
						<td class="cell1"><div class="name">Магазин касса SAG</div>
							<div class="position"></div>
						</td>
						<td class="cell2">231</td>
						<td class="cell3"></td>
					</tr>
					<tr class="row">
						<td class="cell1"><div class="name">Магазин касса SET</div>
							<div class="position"></div>
						</td>
						<td class="cell2">232</td>
						<td class="cell3"></td>
					</tr>
					<tr class="rowbl">
						<td class="cell1"><div class="name">Склад магазина SAG</div>
							<div class="position"></div>
						</td>
						<td class="cell2">233</td>
						<td class="cell3"></td>
					</tr>	
					<tr class="row">
						<td class="cell1"><div class="name">Махсудов Шухрат Орифович</div>
							<div class="position">Директор SET</div>
						</td>
						<td class="cell2">202</td>
						<td class="cell3">+998(90)602-22-20</td>
					</tr>
					<tr class="rowbl">
						<td class="cell1"><div class="name">Сейтумерова Асие Серверовна</div>
							<div class="position">Главный бухгалтер SET</div>
						</td>
						<td class="cell2">240</td>
						<td class="cell3">+998(91)538-68-98</td>
					</tr>
					<tr class="row">
						<td class="cell1"><div class="name">Каримова Ирина Анатольевна</div>
							<div class="position">Начальник отдела кадров SET</div>
						</td>
						<td class="cell2">235</td>
						<td class="cell3">+998(91)552-77-12</td>
					</tr>
					<tr class="rowbl">
						<td class="cell1"><div class="name">Хайдаров Фаёз Ражаб Угли</div>
							<div class="position">Менеджер по продожам по локальному рынку SET</div>
						</td>
						<td class="cell2">229</td>
						<td class="cell3">+998(90)657-07-07</td>
					</tr>
					<tr class="row">
						<td class="cell1"><div class="name">Субхонов Икром Акрамович</div>
							<div class="position">Менеджер по экспорту SET</div>
						</td>
						<td class="cell2">228</td>
						<td class="cell3">+998(990)188-88-09</td>
					</tr>
					<tr class="rowbl">
						<td class="cell1"><div class="name">Саидов Шахбоз Самариддинович</div>
							<div class="position">Специалист планового отдела</div> <!Надо Уточнять>
						</td>
						<td class="cell2">230</td>
						<td class="cell3">+998(93)600-03-70</td>
					</tr>
					<tr class="row">
						<td class="cell1"><div class="name">Ахтамов Азим Фарходович</div>
							<div class="position">Завсклад SET</div>
						</td>
						<td class="cell2">219</td>
						<td class="cell3">+998(97)920-53-35</td>
					</tr>
					<tr class="rowbl">
						<td class="cell1"><div class="name">Отдел Дизайнеров SET</div>
							<div class="position"></div>
						</td>
						<td class="cell2">227</td>
						<td class="cell3"></td>
					</tr>
					<tr class="row">
						<td class="cell1"><div class="name">Швейный Цех</div>
							<div class="position"></div>
						<td class="cell2">224</td>
						</td>
						<td class="cell3"></td>
					</tr>
					<tr class="rowbl">
						<td class="cell1"><div class="name">Лаборатория Красильного Цеха</div>
							<div class="position"></div>
						</td>
						<td class="cell2">210</td>
						<td class="cell3"></td>
					</tr>
					<tr class="row">
						<td class="cell1"><div class="name">Ткацкий Цех</div>
							<div class="position"></div>
						</td>
						<td class="cell2">211</td>
						<td class="cell3"></td>
					</tr>
					<tr class="rowbl">
						<td class="cell1"><div class="name">Лифтовый Цех</div>
							<div class="position"></div>
						</td>
						<td class="cell2">226</td>
						<td class="cell3"></td>
					</tr>
					<tr class="row">
						<td class="cell1"><div class="name">Муинов Исмоил Муминович</div>
							<div class="position">Кассир баклажка цех</div>
						</td>
						<td class="cell2">207</td>
						<td class="cell3">+998(97)288-24-82</td>
					</tr>
					<tr class="rowbl">
						<td class="cell1"><div class="name">Трубный Цех</div>
							<div class="position"></div>
						</td>
						<td class="cell2">213</td>
						<td class="cell3"></td>
					</tr>
					<tr class="row">
						<td class="cell1"><div class="name">ПОСТ 3</div>
							<div class="position"></div>
						</td>
						<td class="cell2">237</td>
						<td class="cell3"></td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>
